.c-canvas-section__auxiliary {
  position: absolute;
  top: 50px;
}

.fj-page * {
  transition: none;
  -moz-transition: none;
  -webkit-transition: none;
  -o-transition: none;
}

.c-canvas-section__adsorptionLine {
  position: absolute;
  left: -1px;
  top: -1px;
  box-shadow: 0 5px 10px rgb(0 0 0 / 5%);
}
#tempWatermark {
  top: 0;
  right: 0;
  z-index: 1;
  cursor: pointer;
}
#c-canvas-section,
#tempWatermark {
  position: absolute;
}
svg:not(:root) {
  overflow: hidden;
}
